td {
    padding: 5px;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #cccccc;
    border: 0 none;
    cursor: move;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a:visited{
    color: red;
}

a:active{
    color: red;
}

a{
    color: red;
}

a:link{
    color: red;
}
.allTasks{
    background-color: bisque;
}
.addTasks{
    background-color: yellowgreen;
}
.aboutTask{
    background-color:aquamarine ;
}

.list{
    background-color: aqua;
    border-radius: 2px;
}
.toDo{
    background-color: yellowgreen;
}